<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>QR Code Generator</title>
  </head>
  <body>
    <nav>
      <a href="/"><h1>QR Code Generator</h1></a>
      <form action="/" method="post">
        <input type="text" name="qrCodeURL" placeholder="" />
        <button type="submit" name="qrCodeGen">Generate</button>
      </form>
      <img src="<%= locals.qrCode %>" alt="" id="qrImage" />
    </nav>
  </body>
</html>
