<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>QR Code Generator</title>
  </head>
  <body>
    <nav>
      <a href="/"><h1 id="title">QR Code Generator</h1></a>
    </nav>
    <div id="mainContainer">
      <p><%= locals.qrCodeContent %></p>
      <div id="imagePlaceholder">
        <img src="<%= locals.qrCode %>" alt="" id="qrImage" />
      </div>

      <form action="/generate" method="post">
        <div id="formContainer">
          <input
            type="text"
            name="qrCodeURL"
            placeholder="QR Code Content"
            value="<%= locals.qrCodeContent %>"
          />
          <button type="submit" name="qrCodeGen">Generate</button>
        </div>
      </form>
    </div>
  </body>
</html>
