<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>QR Code Generator</title>
  </head>
  <body>
    <nav>
      <a href="/"><h1 id="title">QR Code Generator</h1></a>
    </nav>
    <div id="mainContainer">
      <div id="imagePlaceholder">
        <a href="<%= locals.qrCode %>">
          <img
            src="<%= locals.qrCode %>"
            alt=""
            id="qrImage"
            title="<%= locals.qrCodeContent %>"
            onerror="this.style.display='none'"
        /></a>
      </div>

      <form action="/generate" method="post">
        <div id="formContainer">
          <input
            id="qrCodeInput"
            type="text"
            name="qrCodeURL"
            placeholder="QR Code Content"
            maxlength="899"
            value="<%= locals.qrCodeContent %>"
          />
          <button id="generateButton" type="submit" name="qrCodeGen" disabled>
            Generate
          </button>
        </div>
      </form>
    </div>
    <script src="script.js"></script>
  </body>
</html>
