<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 maximum-scale=1"
    />
    <link rel="stylesheet" href="/styles/output.css" />
    <title>QR Code Generator</title>
    <link rel="icon" href="images/qrcode.svg" type="image/x-icon" />
  </head>
  <body>
    <nav class="flex">
      <a class="flex" href="/">
        <img src="/images/qrcode.svg" alt="" />
        <h1 class="font-sans font-bold text-xl" id="title">
          QR Code Generator
        </h1>
      </a>
    </nav>
    <div id="mainContainer">
      <div id="imagePlaceholder">
        <a href="<%= locals.qrCode %>">
          <img
            src="<%= locals.qrCode %>"
            alt=""
            id="qrImage"
            title="<%= locals.qrCodeContent %>"
            onerror="this.style.display='none'"
        /></a>
      </div>

      <form action="/generate" method="post">
        <div id="formContainer">
          <input
            id="qrCodeInput"
            type="text"
            name="qrCodeURL"
            placeholder="QR Code Content"
            maxlength="899"
            autofocus
            value="<%= locals.qrCodeContent %>"
          />
          <button id="generateButton" type="submit" name="qrCodeGen" disabled>
            Generate
          </button>
        </div>
      </form>
    </div>
    <script src="scripts/script.js"></script>
  </body>
</html>
